<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='stylesheets/main.css') }}>
    </head>
    <body>
        <div class="title-style">
            <h1>World Music Region Predictor</h1>
        </div>

        <div class="upload-form">
            <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "file"/>
                <input class="submit-button" type = "submit"/>
            </form>
        </div>

        <div class="developed-by">
            <p>Developed by Rohit Bagda and Chukwubueze Hosea Ogeleka for MUS-111 Spring 2020</p>
        </div>
    </body>

</html>